#colorbox,#cboxOverlay,#cboxWrapper {
	position:absolute;
	top:0;
	left:0;
	z-index:9999;
	-webkit-transform:translate3d(0,0,0)
}
#cboxWrapper {
	max-width:none
}
#cboxOverlay {
	position:fixed;
	width:100%;
	height:100%
}
#cboxMiddleLeft,#cboxBottomLeft {
	clear:left
}
#cboxContent {
	position:relative
}
#cboxLoadedContent {
	overflow:auto;
	-webkit-overflow-scrolling:touch
}
#cboxLoadingOverlay,#cboxLoadingGraphic {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%
}
#cboxPrevious,#cboxNext,#cboxClose,#cboxSlideshow {
	cursor:pointer
}
.cboxPhoto {
	float:left;
	margin:auto;
	border:0;
	display:block;
	max-width:none;
	-ms-interpolation-mode:bicubic
}
.cboxIframe {
	width:100%;
	height:100%;
	display:block;
	border:0;
	padding:0;
	margin:0
}
#colorbox,#cboxContent,#cboxLoadedContent {
	box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box
}
#cboxOverlay {
	background:#000;
	opacity:.7;
	filter:alpha(opacity = 70)
}
#colorbox {
	outline:0
}
.cboxIframe {
	background:#fff
}
#cboxError {
	padding:50px;
	border:1px solid #ccc
}
#cboxSlideshow {
	border:0;
	padding:0;
	margin:0;
	overflow:visible;
	text-indent:-9999px;
	width:20px;
	height:20px;
	position:absolute;
	top:-20px;
	background:url(images/controls.png) no-repeat 0 0
}
#cboxPrevious,#cboxNext,#cboxSlideshow,#cboxClose,.cboxElement {
	outline:0
}
.cboxSlideshow_on #cboxPrevious,.cboxSlideshow_off #cboxPrevious {
	right:66px
}
.cboxSlideshow_on #cboxSlideshow {
	background-position:-75px -25px;
	right:44px
}
.cboxSlideshow_on #cboxSlideshow:hover {
	background-position:-100px -25px
}
.cboxSlideshow_off #cboxSlideshow {
	background-position:-100px 0;
	right:44px
}
.cboxSlideshow_off #cboxSlideshow:hover {
	background-position:-75px -25px
}
#cboxContent {
	margin-top:32px;
	margin-bottom:32px;
	margin-right:40px;
	margin-left:40px;
	overflow:visible
}
#cboxTitle {
	position:absolute;
	top:-26px;
	left:0;
	color:#fff;
	font-size:12px
}
#cboxPrevious,#cboxNext {
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	margin:auto;
	width:45%;
	background-color:transparent;
	border:0;
	outline:0;
	text-indent:-9999px
}
#cboxPrevious .icon-button,#cboxNext .icon-button {
	position:absolute;
	top:0;
	bottom:0;
	margin:auto
}
#cboxPrevious {
	left:0
}
#cboxPrevious .icon-button {
	left:10px
}
#cboxNext {
	right:0
}
#cboxNext .icon-button {
	right:10px
}
#cboxPrevious:hover .icon-button,#cboxNext:hover .icon-button {
	background-color:rgba(0,0,0,1)
}
#cboxPrevious .icon-button,#cboxNext .icon-button {
	background-color:rgba(0,0,0,.4)
}
#cboxPrevious .icon-button .icon--arrow-left::before,#cboxNext .icon-button .icon--arrow-right::before {
	border-top-color:rgba(255,255,255,.9);
	border-right-color:rgba(255,255,255,.9)
}
#cboxClose {
	display:block;
	position:absolute;
	top:-5px;
	right:-40px;
	background-color:transparent;
	border:0;
	outline:0;
	cursor:pointer;
	font-size:0
}
#cboxCurrent {
	position:absolute;
	right:0;
	left:0;
	margin:auto;
	text-align:center;
	bottom:-25px;
	color:#fff;
	font-size:12px
}
#cboxLoadingGraphic {
	position:relative
}
#cboxLoadingGraphic .loading--circle {
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	border-color:#fff;
	border-top-color:transparent;
	height:30px;
	width:30px
}
#cboxLoadingOverlay .loading--circle {
	display:none
}
.is_small #cboxPrevious {
	left:-42px;
	width:42px
}
.is_small #cboxPrevious .icon-button {
	left:0
}
.is_small #cboxNext {
	right:-42px;
	width:42px
}
.is_small #cboxNext .icon-button {
	right:0
}
.is_small #cboxClose {
	top:-65px
}
.is_small #cboxTitle {
	right:-50px;
	left:-50px;
	text-align:center
}
.is_small #cboxCurrent {
	right:-50px;
	left:-50px
}
