@charset 'UTF-8';
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, footer, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, ins, kbd, label, li, mark, menu, nav, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, summary, table, tbody, tfoot, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0
}

object, sub, sup, td, th {
  margin: 0;
  padding: 0;
  border: 0
}

figure, form, img, legend {
  padding: 0;
  vertical-align: baseline
}

img, legend {
  margin: 0
}

figure, form {
  border: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block
}

body {
  font: 13px/1.231 arial, helvetica, clean, sans-serif;
  *font: x-small;
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, 'MS PGothic', Helvetica, Arial, sans-serif;
  color: #333;
  background-color: #fff;
  -webkit-font-smoothing: antialiased
}

button, input, select, textarea {
  font: 99% arial, helvetica, clean, sans-serif
}

table {
  font: 100%;
  font-size: inherit;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse
}

code, kbd, pre, samp, tt {
  font-family: monospace;
  line-height: 100%;
  *font-size: 108%
}

html {
  overflow-y: scroll;
  width: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%
}

.ie7 body {
  position: relative
}

hr {
  display: none
}

audio, canvas, video {
  display: inline-block
}

.ie6 audio, .ie6 canvas, .ie6 video {
  display: inline;
  zoom: 1
}

a {
  text-decoration: none;
  color: #390;
  outline: none
}

a:hover {
  text-decoration: underline
}

a:focus {
  outline: thin dotted
}

a img {
  border: 0 none;
  outline: none
}

b, h1, h2, strong {
  font-weight: 700
}

strong {
  color: #c00
}

dfn {
  font-style: italic
}

mark {
  color: #000;
  background: #ff0
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sup {
  top: -.5em
}

sub {
  bottom: -.25em
}

ol li, ul li {
  list-style: none
}

object {
  vertical-align: bottom
}

figure, form {
  margin: 0
}

img, legend {
  border: 0
}

.ie6 legend, .ie7 legend {
  margin-left: -7px
}

input {
  line-height: 1;
  padding: .1em
}

textarea {
  overflow: auto;
  padding: 3px;
  border: 1px solid #ccc
}

button, input[type=button], input[type=reset], input[type=submit] {
  cursor: pointer;
  -webkit-appearance: button
}

.ie6 button, .ie6 input[type=button], .ie6 input[type=reset], .ie6 input[type=submit], .ie7 button, .ie7 input[type=button], .ie7 input[type=reset], .ie7 input[type=submit] {
  overflow: visible
}

input, table img, td, th {
  vertical-align: middle
}

td, th {
  word-wrap: break-word
}

th {
  font-weight: 700
}

img {
  -ms-interpolation-mode: bicubic
}

svg:not(:root) {
  overflow: hidden
}

#header .Group .Socials li, .Alpha, .Row .Col {
  float: left
}

.Gamma {
  float: right
}

#header .Group, #header .Group .Socials, .Cf, .Row {
  *zoom: 1
}

#header .Group .Socials:after, #header .Group .Socials:before, #header .Group:after, #header .Group:before, .Cf:after, .Cf:before, .Row:after, .Row:before {
  display: block;
  visibility: hidden;
  height: 0;
  content: '\0020'
}

#header .Group .Socials:after, #header .Group:after, .Cf:after, .Row:after {
  clear: both
}

.Row .Col {
  margin-left: 15px
}

.Row .Col:first-child {
  margin-left: 0
}

.Row .Col-r {
  float: right
}

.Guidance, .SkipLink {
  position: absolute;
  top: 0;
  left: -1000em;
  width: 900em
}

.Mg-t0 {
  margin-top: 0 !important
}

.Mg-b0 {
  margin-bottom: 0 !important
}

.Mg-t5 {
  margin-top: 5px !important
}

.Mg-b5 {
  margin-bottom: 5px !important
}

.Mg-t10 {
  margin-top: 10px !important
}

.Mg-b10 {
  margin-bottom: 10px !important
}

.Mg-t15 {
  margin-top: 15px !important
}

.Mg-b15 {
  margin-bottom: 15px !important
}

.Mg-t20 {
  margin-top: 20px !important
}

.Mg-b20 {
  margin-bottom: 20px !important
}

.Mg-t25 {
  margin-top: 25px !important
}

.Mg-b25 {
  margin-bottom: 25px !important
}

.Mg-t30 {
  margin-top: 30px !important
}

.Mg-b30 {
  margin-bottom: 30px !important
}

.Mg-t35 {
  margin-top: 35px !important
}

.Mg-b35 {
  margin-bottom: 35px !important
}

.Mg-t40 {
  margin-top: 40px !important
}

.Mg-b40 {
  margin-bottom: 40px !important
}

.Mg-t45 {
  margin-top: 45px !important
}

.Mg-b45 {
  margin-bottom: 45px !important
}

.Mg-t50 {
  margin-top: 50px !important
}

.Mg-b50 {
  margin-bottom: 50px !important
}

.Mg-t55 {
  margin-top: 55px !important
}

.Mg-b55 {
  margin-bottom: 55px !important
}

.Mg-t60 {
  margin-top: 60px !important
}

.Mg-b60 {
  margin-bottom: 60px !important
}

.Mg-t65 {
  margin-top: 65px !important
}

.Mg-b65 {
  margin-bottom: 65px !important
}

.Mg-t70 {
  margin-top: 70px !important
}

.Mg-b70 {
  margin-bottom: 70px !important
}

.Mg-t75 {
  margin-top: 75px !important
}

.Mg-b75 {
  margin-bottom: 75px !important
}

.Mg-t80 {
  margin-top: 80px !important
}

.Mg-b80 {
  margin-bottom: 80px !important
}

.Mg-t85 {
  margin-top: 85px !important
}

.Mg-b85 {
  margin-bottom: 85px !important
}

.Mg-t90 {
  margin-top: 90px !important
}

.Mg-b90 {
  margin-bottom: 90px !important
}

.Mg-t95 {
  margin-top: 95px !important
}

.Mg-b95 {
  margin-bottom: 95px !important
}

.Mg-t100 {
  margin-top: 100px !important
}

.Mg-b100 {
  margin-bottom: 100px !important
}

.btn, .btn--normal, .btn--primary {
  font-size: .875rem;
  font-weight: 700;
  display: inline-block;
  padding: 12px 20px;
  cursor: pointer;
  transition: background-color .25s 0s cubic-bezier(.23, 1, .32, 1);
  text-align: center;
  text-decoration: none !important;
  border: 0 none;
  border-radius: 6px
}

.ie8 #header .Group .login-btn .login-dropdown-content h4, .ie8 .btn, .ie8 .btn--normal, .ie8 .btn--primary {
  font-size: 14px
}

.btn--normal, .btn--primary {
  margin-bottom: 4px;
  color: #fff !important;
  background-color: #1bbc9b;
  box-shadow: 0 4px 0 0 #16977d;
  -ms-box-shadow: 0 4px 0 0 #16977d;
  -o-box-shadow: 0 4px 0 0 #16977d
}

.btn--normal:hover, .btn--primary:hover {
  padding: 13px 20px 11px;
  background-color: #16977d
}

.btn--primary {
  background-color: #fa4f3e;
  box-shadow: 0 4px 0 0 #c94032;
  -ms-box-shadow: 0 4px 0 0 #c94032;
  -o-box-shadow: 0 4px 0 0 #c94032
}

.btn--primary:hover {
  background-color: #c94032
}

.btn--rounded {
  font-size: 1rem;
  font-weight: 700;
  line-height: 56px;
  display: inline-block;
  min-width: 100px;
  height: 56px;
  min-height: 56px;
  padding: 0 40px;
  text-decoration: none;
  color: #fff;
  border-radius: 28px;
  background: #8abe00
}

.btn--rounded:hover {
  text-decoration: none;
  background: #99cf06
}

.Btn {
  font-weight: 700;
  padding: 5px 30px;
  cursor: pointer;
  color: #333;
  border: 1px solid #c5c5c5;
  border-radius: 20px;
  background-image: linear-gradient(#f6f6f6, #ccc 100%);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, .3), inset 0 -1px 0 0 rgba(183, 183, 187, .9);
  -ms-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, .3), inset 0 -1px 0 0 rgba(183, 183, 187, .9);
  -o-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, .3), inset 0 -1px 0 0 rgba(183, 183, 187, .9)
}

.ie6 .Btn, .ie7 .Btn, .ie8 .Btn {
  background: #d3d3d3 url(../img/common/ie/bg_btn_ie.png) repeat-x 0 0
}

.Btn:hover {
  text-decoration: none;
  background-image: linear-gradient(#f7f7f7, #dadada 100%);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, .3), inset 0 -1px 0 0 rgba(194, 194, 197, .9);
  -ms-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, .3), inset 0 -1px 0 0 rgba(194, 194, 197, .9);
  -o-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, .3), inset 0 -1px 0 0 rgba(194, 194, 197, .9)
}

.ie6 .Btn:hover, .ie7 .Btn:hover, .ie8 .Btn:hover {
  background: #dadada url(../img/common/ie/bg_btn_ie.png) repeat-x 0 -30px
}

.Btn-orange {
  font-size: .9375rem;
  font-weight: 700;
  color: #fff;
  border: 1px solid #ff7900;
  border-radius: 5px;
  background-image: linear-gradient(#ffab33, #ffa033 49%, #ff8600 50%, #ff7900 100%);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, .4);
  -ms-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, .4);
  -o-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, .4)
}

.ie8 .Btn-orange {
  font-size: 15px
}

.ie6 .Btn-orange, .ie7 .Btn-orange, .ie8 .Btn-orange {
  background: #ff9a00 url(../img/common/ie/bg_pr_btn_orange_ie.png) repeat-x 0 0
}

.Btn-orange:hover {
  border: 1px solid #ff8500;
  background-image: linear-gradient(#ffb338, #ffa938 49%, #ff9e1b 50%, #ff8500 100%);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0), inset 0 -1px 0 0 rgba(194, 194, 197, 0);
  -ms-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0), inset 0 -1px 0 0 rgba(194, 194, 197, 0);
  -o-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0), inset 0 -1px 0 0 rgba(194, 194, 197, 0)
}

.ie6 .Btn-orange:hover, .ie7 .Btn-orange:hover, .ie8 .Btn-orange:hover {
  background-color: #ffb400;
  background-image: url(../img/common/ie/bg_pr_btn_orange_ie_on.png)
}

.Information {
  margin: 0 auto 1.5em;
  padding: 20px 25px;
  border: 1px solid #fcc;
  border-radius: 4px;
  background-color: #ffc
}

.Information p {
  line-height: 1.6;
  margin: 0 0 1em;
  color: #333
}

.Information p:last-child {
  margin-bottom: 0
}

.Information .Ttl {
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  color: #c00
}

.ie8 .Information .Ttl {
  font-size: 16px
}

#header {
  position: relative;
  border-top: 3px solid #198031;
  background-color: #fff
}

.ie6 #header, .ie7 #header {
  padding-bottom: 8px
}

#header:after {
  position: absolute;
  bottom: -79px;
  left: 0;
  width: 100%;
  height: 79px;
  content: '';
  background-color: #8abe00
}

#header .Group {
  width: 960px;
  margin: 0 auto
}

#header .Group #logo {
  float: left;
  margin: 8px 0
}

#header .Group #logo a {
  display: block;
  overflow: hidden;
  width: 236px;
  height: 61px;
  white-space: nowrap;
  text-indent: 100%;
  background: url(../img/common/header/logo_site.png) no-repeat left top
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 2) {
  #header .Group #logo a {
    background: url(../img/common/header/logo_site@2x.png) no-repeat left top;
    background-size: 236px 61px
  }
}

#header .Group .Register-btn, #header .Group .login-btn .login-dropdown {
  font-size: .75rem;
  font-weight: 700;
  line-height: 1.6;
  display: block;
  padding: 6px 16px;
  color: #fff;
  border-radius: 20px
}

.ie8 #header .Group .Register-btn, .ie8 #header .Group .login-btn .login-dropdown {
  font-size: 12px
}

#header .Group .Register-btn {
  float: right;
  background-color: #198031;
  background-image: linear-gradient(to bottom, #197f31 0%, #18782d 100%);
  box-shadow: inset 0 -1px 2px -1px rgba(0, 0, 0, .9);
  -ms-box-shadow: inset 0 -1px 2px -1px rgba(0, 0, 0, .9);
  -o-box-shadow: inset 0 -1px 2px -1px rgba(0, 0, 0, .9)
}

#header .Group .Register-btn span {
  display: inline-block;
  padding-left: 24px;
  background: url(../img/common/header/btn_register.png) no-repeat left top
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 2) {
  #header .Group .Register-btn span {
    background: url(../img/common/header/btn_register@2x.png) no-repeat left top;
    background-size: 19px 17px
  }
}

#header .Group .Register-btn:hover, #header .Group .login-btn .login-dropdown:hover {
  background-image: radial-gradient(ellipse farthest-corner at center bottom, #93c400, #198031 65%, #198031 100%);
  box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none
}

#header .Group .login-btn {
  position: relative;
  display: inline-block;
  float: right;
  vertical-align: middle
}

#header .Group .login-btn .login-dropdown {
  background-color: #7eb01b;
  background-image: linear-gradient(to bottom, #8ac01e 0%, #80b21c 100%);
  box-shadow: inset 0 -1px 2px -1px rgba(0, 0, 0, .8);
  -ms-box-shadow: inset 0 -1px 2px -1px rgba(0, 0, 0, .8);
  -o-box-shadow: inset 0 -1px 2px -1px rgba(0, 0, 0, .8)
}

#header .Group .login-btn .login-dropdown:hover {
  text-decoration: none;
  background-image: radial-gradient(ellipse farthest-corner at center bottom, #b1c415, #93c400 65%, #93c400 100%)
}

#header .Group .login-btn #loginDropdown {
  color: #fff
}

#header .Group .login-btn .login-dropdown-content {
  font-size: .8125rem;
  position: absolute;
  z-index: 999;
  top: 50px;
  right: -35px;
  visibility: hidden;
  min-width: 390px;
  padding: 17px 20px 15px;
  transition: opacity .2s linear 0s, visibility .2s linear 0s, transform .2s ease-in-out 0s;
  transform: translate(0, -5px);
  opacity: 0;
  border: 1px solid #bbb;
  border-radius: 4px;
  background-color: #f3f3f3;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, .4);
  -ms-box-shadow: 0 0 8px 0 rgba(0, 0, 0, .4);
  -o-box-shadow: 0 0 8px 0 rgba(0, 0, 0, .4);
  filter: alpha(opacity=0);
  -ms-filter: 'alpha(opacity=0)'
}

#header .Group .login-btn .login-dropdown-content.in {
  visibility: visible;
  transform: translate(0, 0);
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: 'alpha(opacity=100)'
}

#header .Group .login-btn .login-dropdown-content:after, #header .Group .login-btn .login-dropdown-content:before {
  position: absolute;
  z-index: 1;
  right: 60px;
  width: 0;
  height: 0;
  content: '';
  pointer-events: none;
  border: 8px solid transparent;
  background: 0 0
}

#header .Group .login-btn .login-dropdown-content:before {
  border-bottom: 8px solid #bbb !important;
  top: -17px
}

#header .Group .login-btn .login-dropdown-content:after {
  top: -16px;
  border-bottom: 8px solid #f3f3f3
}

#header .Group .login-btn .login-dropdown-content h4 {
  font-size: .875rem
}

#header .Group .login-btn .login-dropdown-content .form-ID {
  font-weight: 700;
  display: inline-block;
  padding: 8px 0 0;
  white-space: nowrap
}

#header .Group .login-btn .login-dropdown-content .form-ID .input-ID {
  font-size: .8125rem;
  width: 150px;
  padding: 5px 6px;
  color: #8a8a8a;
  border: 1px solid #aebd97;
  border-radius: 4px
}

.ie8 #header .Group #globalnav #nav > ul > li > a, .ie8 #header .Group .login-btn .login-dropdown-content .form-ID .input-ID, .ie8 #header .Group .login-btn .login-dropdown-content .login-space-list li, .ie8 html[lang=en-US] #header .Group .Register-btn {
  font-size: 13px
}

#header .Group .login-btn .login-dropdown-content .go-btn {
  font-size: .75rem;
  font-weight: 700;
  line-height: 1.5;
  display: inline-block;
  margin-left: 6px;
  padding: 5px 14px 5px 16px;
  color: #fff;
  border: none;
  border-radius: 6px;
  background-color: #7eb01b;
  background-image: linear-gradient(to bottom, #8ac01e 0%, #80b21c 100%);
  box-shadow: inset 0 -1px 2px -1px rgba(0, 0, 0, .8);
  -ms-box-shadow: inset 0 -1px 2px -1px rgba(0, 0, 0, .8);
  -o-box-shadow: inset 0 -1px 2px -1px rgba(0, 0, 0, .8)
}

.ie8 #header .Group .login-btn .login-dropdown-content .go-btn {
  font-size: 12px
}

#header .Group .login-btn .login-dropdown-content .go-btn:hover {
  text-decoration: none;
  background-image: radial-gradient(ellipse farthest-corner at center bottom, #b1c415, #93c400 65%, #93c400 100%);
  box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none
}

#header .Group .login-btn .login-dropdown-content .errer-tip {
  font-size: .75rem;
  font-weight: 700;
  line-height: 1.5;
  margin: 15px 0;
  color: #ff3340
}

.ie8 #header .Group .login-btn .login-dropdown-content .errer-tip {
  font-size: 12px
}

#header .Group .login-btn .login-dropdown-content .login-space-list {
  margin-top: 15px
}

#header .Group .login-btn .login-dropdown-content .login-space-list li {
  font-size: .8125rem;
  border-bottom: solid 1px #ccc;
  background-color: #fff
}

#header .Group .login-btn .login-dropdown-content .login-space-list li:first-child {
  border-top: solid 1px #ddd
}

#header .Group .login-btn .login-dropdown-content .login-space-list li > a {
  display: block;
  padding: 8px 8px 8px 28px;
  color: #888;
  background: url(../img/common/icon/ico_next.png) no-repeat 8px center;
  background-size: 14px 14px
}

#header .Group .login-btn .login-dropdown-content .login-space-list li > a:hover {
  text-decoration: none;
  background-color: #f7fde8
}

#header .Group .login-btn .login-dropdown-content .login-space-list li > a > span {
  font-weight: 700;
  color: #72ac00
}

#header .Group .login-btn .login-dropdown-content .faq-link {
  margin-top: 15px;
  text-align: left
}

#header .Group .login-btn .login-dropdown-content .faq-link a {
  font-size: .6875rem;
  padding: 2px 0 4px 21px;
  text-decoration: underline;
  color: #06c;
  background: url(../img/support/ico_faq.png) no-repeat left center
}

.ie8 #header .Group .login-btn .login-dropdown-content .faq-link a {
  font-size: 11px
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 2) {
  #header .Group .login-btn .login-dropdown-content .faq-link a {
    background: url(../img/support/ico_faq@2x.png) no-repeat left center;
    background-size: 16px 17px
  }
}

#header .Group .login-btn .login-dropdown-content .faq-link a:hover {
  text-decoration: none
}

#header .Group .login-btn .login-dropdown-content .close-dropdown {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 12px;
  height: 12px;
  padding: 10px;
  background: url(../img/common/icon/icon_close.png) no-repeat center center
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 2) {
  #header .Group .login-btn .login-dropdown-content .close-dropdown {
    background: url(../img/common/icon/icon_close@2x.png) no-repeat center center;
    background-size: 12px 12px
  }
}

#header .Group .Socials {
  float: right;
  margin-top: 10px
}

#header.Home:after, .ie6 #header .Group .Socials, .ie7 #header .Group .Socials {
  display: none
}

#header .Group .Socials li.Twitter {
  width: 110px
}

#header .Group .Socials li.Facebook {
  width: 125px
}

#header .Group .Socials li.Google {
  width: 75px
}

#header .Group #globalnav {
  float: right;
  clear: right;
  margin-top: 23px
}

#header .Group #globalnav.globalnav_contact {
  margin-top: 32px
}

#header .Group #globalnav #nav > ul {
  font-size: 0
}

#header .Group #globalnav #nav > ul:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: ''
}

.ie6 #header .Group #globalnav #nav > ul, .ie7 #header .Group #globalnav #nav > ul, .ie8 #header .Group #globalnav #nav > ul {
  zoom: 1
}

#header .Group #globalnav #nav > ul > li {
  display: inline-block;
  margin-left: 25px;
  vertical-align: middle
}

.ie6 #header .Group #globalnav #nav > ul > li, .ie7 #header .Group #globalnav #nav > ul > li {
  display: inline
}

#header .Group #globalnav #nav > ul > li > a {
  font-size: .8125rem;
  font-weight: 700;
  display: block;
  color: #333
}

#header .Group #globalnav #nav > ul > li > a.Current {
  position: relative;
  color: #8abe00
}

#header .Group #globalnav #nav > ul > li > a.Current:after {
  position: absolute;
  bottom: -31px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -12px;
  content: ' ';
  pointer-events: none;
  border: solid transparent;
  border-width: 12px;
  border-color: rgba(138, 190, 0, 0);
  border-bottom-color: #8abe00
}

html[lang=en-US] #header .Group .Register-btn {
  font-size: .8125rem
}

.Notification {
  line-height: 20px;
  position: relative;
  z-index: 99;
  width: 100%;
  height: 20px;
  padding: 5px 0;
  text-align: center;
  text-indent: 40px;
  border-bottom: 1px solid #89825f;
  background-color: #ffc;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .3);
  -ms-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .3);
  -o-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .3)
}

.Notification span {
  display: inline-block;
  margin-right: 15px;
  vertical-align: top
}

.Notification span a {
  color: #06c
}

@media screen and (max-width: 960px) {
  #header .Group {
    width: auto;
    margin: 0 10px
  }
}

@media screen and (max-width: 480px) {
  #header .Group .Register-btn, #header .Group .Socials {
    display: none
  }
  #header .Group #globalnav {
    float: none;
    clear: both;
    padding-bottom: 1em
  }
  #header .Group #globalnav #nav ul li {
    margin-right: 10px;
    margin-left: 0
  }
  #header .Group #globalnav #nav ul li:last-child {
    margin-right: 0
  }
}

/*! Animate.css - http://daneden.me/animate Licensed under the MIT license - http://opensource.org/licenses/MIT Copyright (c) 2015 Daniel Eden */
.animated {
  animation-duration: 1s;
  animation-fill-mode: both
}

.animated.flipOutX, .animated.flipOutY {
  animation-duration: .75s
}

@keyframes shake {
  0%, to {
    transform: translate3d(0, 0, 0)
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0)
  }
  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0)
  }
}

.shake {
  animation-name: shake
}

@keyframes flipOutX {
  0% {
    transform: perspective(400px)
  }
  30% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1
  }
  to {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0
  }
}

.flipOutX, .flipOutY {
  animation-name: flipOutX;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important
}

@keyframes flipOutY {
  0% {
    transform: perspective(400px)
  }
  30% {
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    opacity: 1
  }
  to {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0
  }
}

.flipOutY {
  animation-name: flipOutY
}

.move-bg {
  background-image: linear-gradient(to bottom, #6ca300, #6ca300 45%, #93c400 90%, #93c400 100%)
}

#main {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 20px 0 50px;
  background: url(../../img/common/bg_main.png) no-repeat left top
}

#main.Home {
  width: 100%;
  padding: 0;
  background-image: none
}

#main > h1 {
  font-size: 1.875rem;
  margin-bottom: 50px;
  color: #fff;
  text-shadow: 0 2px 0 rgba(122, 169, 1, .5)
}

.ie8 #main > h1 {
  font-size: 30px
}

#copyright .Row .Col p, .Footer-nav ul .Column a, .ie7 #main > h1 {
  color: #333
}

.Back-top {
  position: fixed;
  z-index: 9999;
  top: 75%;
  right: 0;
  display: none;
  background: url(../img/common/content/btn_backTop.png) no-repeat 0 -71px
}

.ie6 .Back-top {
  display: none !important
}

.Back-top a {
  display: block;
  width: 37px;
  height: 71px;
  transition: opacity .2s linear 0s;
  white-space: nowrap;
  text-indent: 100%;
  opacity: 1;
  background: url(../img/common/content/btn_backTop.png) no-repeat 0 0;
  filter: alpha(opacity=100);
  -ms-filter: 'alpha(opacity=100)'
}

.Back-top a:hover {
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: 'alpha(opacity=0)'
}

.wp-pagenavi {
  margin-top: 30px;
  text-align: center
}

.wp-pagenavi .page {
  color: #333;
  background-color: #efeef0
}

.wp-pagenavi .current, .wp-pagenavi .page, .wp-pagenavi .page:hover {
  font-size: .875rem;
  line-height: 28px;
  display: inline-block;
  width: 28px;
  height: 28px;
  margin-right: 12px;
  vertical-align: top;
  border-radius: 14px
}

.ie8 #copyright .Row .Col .Nulab .Copy-nulab, .ie8 .Footer-nav ul .Column p, .ie8 .wp-pagenavi .current, .ie8 .wp-pagenavi .page, .ie8 .wp-pagenavi .page:hover {
  font-size: 14px
}

#copyright .Row .Col .Our-products li a:hover, #dev-mode a, .wp-pagenavi .current:hover, .wp-pagenavi .page:hover {
  text-decoration: none
}

.wp-pagenavi .current, .wp-pagenavi .current:hover, .wp-pagenavi .page:hover {
  color: #fff;
  background-color: #c4de7f
}

.wp-pagenavi .nextpostslink, .wp-pagenavi .previouspostslink {
  display: inline-block;
  overflow: hidden;
  width: 28px;
  height: 28px;
  vertical-align: top;
  white-space: nowrap;
  text-indent: 100%;
  background: url(../img/common/icon/ico_next.png) no-repeat left top
}

.wp-pagenavi .previouspostslink {
  margin-right: 12px;
  background: url(../img/common/icon/ico_prev.png) no-repeat left top
}

#dev-mode {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  width: 70px;
  height: 70px;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box
}

#dev-mode a {
  font-size: .75rem;
  font-weight: 700;
  line-height: 2rem;
  position: fixed;
  top: 11px;
  right: -36px;
  width: 100px;
  padding: 5px 20px;
  transition: linear .3s background-color 0s;
  transform: rotate(45deg);
  text-align: center;
  color: #fff;
  background-color: #940b24;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .8);
  -ms-box-shadow: 0 1px 4px rgba(0, 0, 0, .8);
  -o-box-shadow: 0 1px 4px rgba(0, 0, 0, .8)
}

.ie8 #dev-mode a, .ie8 .Foot-breadcrumbs ol li a, .ie8 .Foot-breadcrumbs ol li b, .ie8 .Footer-nav ul .Column ul li a {
  font-size: 12px
}

#dev-mode a:hover {
  background-color: #060
}

#dev-mode a:after, #dev-mode a:before {
  position: fixed;
  top: 1px;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  content: '';
  background-color: #fff
}

#dev-mode a:after {
  top: auto;
  bottom: 1px
}

@media screen and (max-width: 960px) {
  #main {
    width: auto;
    margin: 0 10px
  }
}

#footer {
  padding: 0 0 25px;
  border-bottom: 1px solid #d9decb;
  background-color: #f4f7ee
}

#footer .Group {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 0
}

.Foot-breadcrumbs {
  background-color: #8abe00
}

.Back-top a, .Foot-breadcrumbs ol, .Footer-nav ul {
  overflow: hidden
}

.Foot-breadcrumbs ol li {
  float: left;
  padding: 5px 15px 5px 8px;
  background: url(../img/common/footer/mark_breadcrumbs.png) no-repeat right center
}

.Foot-breadcrumbs ol li:last-child {
  background: 0 0
}

.Foot-breadcrumbs ol li a, .Foot-breadcrumbs ol li b {
  font-size: .75rem;
  font-weight: 700;
  line-height: 19px;
  text-decoration: none;
  color: #fff
}

.Foot-breadcrumbs ol li a:hover {
  text-decoration: underline
}

.Foot-breadcrumbs ol li:first-child {
  padding-left: 0
}

.Foot-breadcrumbs ol li:first-child a {
  display: inline-block;
  padding-left: 24px;
  background: url(../img/common/footer/mark_breadcrumbs_home.png) no-repeat 0 0
}

.Footer-nav ul .Column {
  float: left;
  width: 172px;
  min-height: 18em;
  margin-right: 20px;
  padding: 20px 0 0
}

.Footer-nav ul .Column:last-child {
  margin-right: 0
}

.Footer-nav ul .Column.Col-b {
  width: 230px
}

.Footer-nav ul .Column.Col-c {
  width: 134px
}

.Footer-nav ul .Column p {
  font-size: .875rem;
  font-weight: 700;
  margin-bottom: .5em;
  color: #333
}

.Footer-nav ul .Column ul li {
  padding: 3px 0
}

.Footer-nav ul .Column ul li a {
  font-size: .75rem
}

@media screen and (max-width: 960px) {
  #footer .Group {
    width: auto;
    margin: 0 20px
  }
}

@media screen and (max-width: 480px) {
  #footer .Group {
    width: auto;
    margin: 0 20px
  }
}

#copyright {
  position: relative;
  padding: 30px 0;
  background: #fff url(../img/common/footer/bg_copyright_btm.png) repeat-x left bottom
}

#copyright .Row {
  width: 960px;
  margin: 0 auto
}

#copyright .Row .Col {
  float: left
}

#copyright .Row .Col.Left {
  width: 514px;
  padding: 10px 20px 10px 0;
  border-right: 1px solid #ccc
}

#copyright .Row .Col.Right {
  width: 390px;
  margin-left: 0;
  padding: 10px 0 10px 35px
}

#copyright .Row .Col .Our-products {
  overflow: hidden
}

#copyright .Row .Col .Our-products li {
  float: left;
  margin-left: 10px;
  text-align: center
}

#copyright .Row .Col .Our-products li.Cacoo {
  width: 145px;
  margin-left: 0
}

#copyright .Row .Col .Our-products li.Backlog {
  width: 180px
}

#copyright .Row .Col .Our-products li.Typetalk {
  width: 140px
}

#copyright .Row .Col .Our-products li p {
  font-size: .6875rem;
  margin-top: 3px
}

.ie8 #copyright .Row .Col .Nulab small, .ie8 #copyright .Row .Col .Our-products li p {
  font-size: 11px
}

#copyright .Row .Col .Our-products li a {
  text-decoration: none;
  color: #333
}

#copyright .Row .Col .Our-products li a strong {
  font-size: 1.25rem;
  font-weight: 700;
  display: block;
  color: #333
}

.ie8 #copyright .Row .Col .Our-products li a strong {
  font-size: 20px
}

#copyright .Row .Col .Nulab {
  float: left
}

#copyright .Row .Col .Nulab .Logo-nulab {
  display: block;
  width: 96px;
  margin-top: 45px;
  margin-bottom: 5px
}

#copyright .Row .Col .Nulab .Copy-nulab {
  font-size: .875rem;
  font-weight: 700
}

#copyright .Row .Col .Nulab small {
  font-size: .6875rem
}

#copyright .Row .Col .Privacy {
  float: right;
  padding-top: 40px
}

.Languages-area {
  overflow: hidden;
  width: 950px;
  margin: 0 auto
}

.Languages-area .Languages {
  float: right;
  margin: 0 0 10px;
  padding-left: 22px;
  background: url(../img/common/footer/ico_world.png) no-repeat 0 3px
}

.Languages-area .Languages .Languages-inner {
  position: relative;
  width: 148px;
  height: 22px;
  border: 1px solid #aaa;
  border-radius: 3px;
  background-image: linear-gradient(#fff, #eee)
}

.ie6 .Languages-area .Languages .Languages-inner, .ie7 .Languages-area .Languages .Languages-inner {
  border: 0 none
}

.Languages-area .Languages .Languages-inner .Pick-language {
  font-size: 93%;
  display: inline-block;
  margin: 4px 0 0 7px
}

.ie6 .Languages-area .Languages .Languages-inner .Pick-language, .ie7 .Languages-area .Languages .Languages-inner .Pick-language {
  display: none
}

.Languages-area .Languages .Languages-inner .Pick-down {
  display: inline-block;
  float: right;
  width: 19px;
  height: 22px;
  background: url(../img/common/footer/btn_langPickDown.png) no-repeat left top
}

.Languages-area .Languages .Languages-inner .Language-menu {
  line-height: 24px;
  position: absolute;
  top: 1px;
  left: 0;
  width: 150px;
  height: 24px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0)
}

.ie6 .Languages-area .Languages .Languages-inner .Language-menu, .ie7 .Languages-area .Languages .Languages-inner .Language-menu {
  top: 0;
  filter: alpha(opacity=100)
}

.Social-icon {
  width: 950px;
  margin: 0 auto 10px;
  text-align: right
}

.Social-icon li {
  display: inline-block;
  margin-left: 7px
}

@media screen and (max-width: 960px) {
  #copyright .Row {
    width: 95%;
    padding: 0
  }
}

@media screen and (max-width: 480px) {
  #copyright .Row {
    width: 95%;
    padding: 0
  }
  #copyright .Row .Col {
    display: block;
    float: none;
    margin: 0 auto;
    padding: 10px 0
  }
  #copyright .Row .Col:first-child {
    border: 0 none
  }
  #copyright .Row .Col .Our-products li {
    margin-bottom: 1em
  }
  html {
    -webkit-text-size-adjust: none
  }
}