:root {
  /*-------------------------------------------------------------
   * theme
   *-----------------------------------------------------------*/
  --theme-backlog: #00836b;

  /*-------------------------------------------------------------
   * color
   *-----------------------------------------------------------*/
  --dark-color: #CCCCCC;       /* color: #222 */
  --dark-color-title: #DDDDDD; /* color: #111 */

  /*-------------------------------------------------------------
   * background-color
   *-----------------------------------------------------------*/
  --dark-background-color: #222222;               /* background-color: #fff */
  --dark-background-color-title: #444444;         /* background-color: #edf4f0 */
  --dark-background-color-header: #333333;        /* background-color: #f0f0f0 / #f6f6f6 */
  --dark-background-color-hover: #555555;         /* background-color: #e3eee8 / #fcfade */
  --dark-background-color-button: #333333;        /* background-color: #e5e5e5 */
  --dark-background-color-dropdown: #222222;      /* background-color: #fff */
  --dark-background-color-info: #222222;          /* background-color: #fcfade */
  --dark-background-color-info-finished: #333333; /* background-color: #e5e5e5 */

  /*-------------------------------------------------------------
   * border
   *-----------------------------------------------------------*/
  --dark-border-color: #333333;        /* border: #bdbdbd */
  --dark-border-color-icon: #555555;   /* border: #adadad */
  --dark-border-color-button: #444444; /* border: #e5e5e5 */

}
.project-list__item {
  border-top: solid 1px #bdbdbd;
  border-right: solid 1px #c2c2c2;
  border-left: solid 1px #c2c2c2
}

.project-list__item:first-child {
  border-top-color: #c2c2c2;
}

.project-list__item:last-child {
  border-bottom: solid 1px #c2c2c2;
}

.project-list__item:hover .project-list__key, .project-list__item:hover .project-list__name {
  color: #fff
}

.project-list__item.is_archived .project-list__key, .project-list__item.is_archived .project-list__key:hover, .project-list__item.is_archived .project-list__name, .project-list__item.is_archived .project-list__name:hover {
  color: #777
}

.project-list__wrapper {
  color: #222
}

.project-list__link {
  background-color: var(--dark-background-color) !important
}

.project-list__name {
  color: var(--dark-color-title) !important
}

.project-list__key {
  color: #777
}

.project-list__settings-button svg.icon {
  fill: #fff
}

.project-list.-list-view .project-list__item:hover .project-launch-menu__text {
  color: #fff
}

.project-list.-list-view .project-launch-menu__text:hover, .project-list.-list-view .project-list__item:hover .project-launch-menu__text::after {
  background-color: rgba(255, 255, 255, .2)
}

.project-list.-list-view .project-launch-menu__text {
  color: #00836b;
}

.project-list.-list-view .project-launch-menu__text::after {
  background-color: #bdbdbd
}

.project-list__item:hover {
  background-color: #4caf93
}

.project-list__item:hover:not(.theme-default) {
  background-color: #f3f3f3
}

.project-list__item:hover.theme-aqua {
  background-color: #3b9dbd
}

.project-list__item:hover.theme-azuki {
  background-color: #ab2a3e
}

.project-list__item:hover.theme-black {
  background-color: #393939
}

.project-list__item:hover.theme-gray {
  background-color: #595959
}

.project-list__item:hover.theme-orange {
  background-color: #e87758
}

.project-list__item:hover.theme-pink {
  background-color: #e07b9a
}

.project-list__item:hover.theme-purple {
  background-color: #868cb7
}

.project-list__item:hover.theme-sakura {
  background-color: #e77983
}

.project-list__item:hover.theme-ultramarine {
  background-color: #3d5791
}

.project-list__item:hover.theme-army {
  background-color: #486969
}

.project-list__item:hover.theme-ethnic {
  background-color: #7a2b36
}

.project-list__item:hover.theme-leopard {
  background-color: #8d6755
}

.project-list__item:hover.theme-pink-leopard {
  background-color: #e07b9a
}

.project-list__item:hover.theme-acrylic {
  background-color: #2b406c
}

.dashboard-announce__wrap {
  background-color: #2c9a7a
}

.dashboard-announce__text {
  color: #fff
}

.dashboard-announce__text a {
  color: #fff
}

.dashboard-announce__gorilla::after {
  border-top: 20px solid #2c9a7a;
}

.dashboard-space-infomation {
  border: solid 1px #adadad;
  background-color: var(--dark-background-color) !important
}

.dashboard-space-infomation::after, .dashboard-space-infomation::before {
  border-top: 14px solid #bbb
}

.dashboard-space-infomation::after {
  border-top: 14px solid #fff
}

.dashboard-deadline__title > span {
  color: #ea2c00
}

.start-message__info li p {
  color: #777
}

.start-message-info__item {
  background-color: var(--dark-background-color-info) !important
}

.start-message-info__item.is_finished {
  background-color: var(--dark-background-color-info-finished) !important
}

.start-message-info__item.is_finished .start-message-info__item-icon {
  background-color: #bbb
}

.start-message-info__item.is_finished a {
  color: #777
}

.start-message-info__item:first-child {
  border-right: solid 1px #c2c2c2
}

.start-message-info__item:last-child {
  border-left: solid 1px #c2c2c2
}

.start-message-info__item-icon {
  background-color: rgba(119, 182, 164, .6)
}

.start-message-info__item-icon svg.icon {
  fill: #fff
}
