#launchbox a {
  color: #6c725f;
}

#launchbox a:hover {
  color: #f26522;
}

#launchbox h1, #launchbox h2, #launchbox h3, #launchbox h4, #launchbox h5, #launchbox h6 {
  color: #6c725f
}

#launchbox p {
  color: #899179
}

#launchbox textarea {
  border: 1px solid #ccc;
}

#launchbox .launchbox-btn {
  background-color: #6c725f;
  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

#launchbox .launchbox-btn:hover {
  background-color: #f26522;
  color: white
}


#launchbox .launchbox-btn-primary {
  background-color: #b4da11;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}

#launchbox .launchbox-btn-primary:hover {
  background-color: #f26522
}

#launchbox .launchbox-btn-danger {
  background-color: #da3525;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}

#launchbox .launchbox-btn-danger:hover {
  background-color: #f26522
}

#launchbox .launchbox-btn-light-green {
  background-color: #bac3a3;
}

#launchbox .launchbox-btn-light-green:hover {
  background-color: #6c725f
}

#launchbox i.dot.light-green {
  background-color: #a1a890
}

#launchbox i.dot.green {
  background-color: #6c725f
}

#launchbox {
  background-color: #fff;
  border: 1px solid #cfd7bc;
}

#launchbox:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #6c7261;
}

#launchbox:before {
  border-color: rgba(128, 128, 128, 0);
  border-bottom-color: #cfd7bc;
}

#launchbox .launchbox-header {
  background-color: #6c7261
}

#launchbox .launchbox-header .launchbox-name {
  color: #fff;
}


#launchbox .launchbox-header-unsigned .launchbox-desc {
  color: #fff;
}

#launchbox .launchbox-message.launchbox-message-warning {
  color: #da3525;
  background-color: #fffde1
}

#launchbox .launchbox-apps {
  background-color: #fff
}

#launchbox .launchbox-apps .launchbox-app .launchbox-app-link {
  background-color: #f2f2f2;
  color: #6c7261;
}

#launchbox .launchbox-apps .launchbox-app.launchbox-app-new .launchbox-app-link {
  background-color: #b3d94a;
  color: #fff
}

#launchbox .launchbox-apps .launchbox-app.launchbox-app-new.active:after {
  border-color: #fff;
}

#launchbox .launchbox-apps-unsigned .launchbox-app-cacoo .launchbox-app-name {
  color: #1b8be3
}

#launchbox .launchbox-apps-unsigned .launchbox-app-backlog .launchbox-app-name {
  color: #178d46
}

#launchbox .launchbox-apps-unsigned .launchbox-app-typetalk .launchbox-app-name {
  color: #fc614f
}

#launchbox .launchbox-apps-option-a .launchbox-app .launchbox-app-link .launchbox-app-desc {
  color: #6c7261
}

#launchbox .launchbox-apps-option-b .launchbox-app .launchbox-app-tooltip {
  background-color: #fff;
  border: 1px solid #c8c8c8;
}

#launchbox .launchbox-apps-option-b .launchbox-app .launchbox-app-tooltip:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
}

#launchbox .launchbox-apps-option-b .launchbox-app .launchbox-app-tooltip:before {
  border-color: rgba(128, 128, 128, 0);
  border-bottom-color: #c8c8c8;
}

#launchbox .launchbox-connect-panel .launchbox-connect-title {
  color: #474b40;
}

#launchbox .launchbox-connect-panel .launchbox-connect-space {
  color: #6c7261;
}

#launchbox .launchbox-connect-panel .launchbox-connect-space .launchbox-backlog-domain {
  background-color: #fff;
  color: #6c725f;
  border: 1px solid #a1a890;
}

#launchbox .launchbox-connect-panel .launchbox-connect-space .launchbox-backlog-domain:hover {
  border-color: #6c725f;
}

#launchbox .launchbox-connect-panel .launchbox-connect-space .launchbox-backlog-domain:focus {
  border-color: #6c725f;
  background-color: #fbfee7;
}

#launchbox .launchbox-connect-panel .launchbox-connect-space .launchbox-backlog-site-select-wrap:before {
  background-color: #fff;
  color: white;
}

#launchbox .launchbox-connect-panel .launchbox-connect-space .launchbox-backlog-site-select-wrap:after {
  border-top-color: #6c7261;
}

#launchbox .launchbox-connect-panel .launchbox-connect-space .launchbox-backlog-site-select-wrap .launchbox-backlog-site-select {
  background-color: #fff;
  color: #6c7261;
}

#launchbox .launchbox-connect-panel .launchbox-connect-space .launchbox-connect-btn {
  background-color: #b3d94a;
}

#launchbox .launchbox-connect-panel .launchbox-connect-space .launchbox-connect-btn:hover {
  background-color: #f26334
}

#launchbox .launchbox-footer {
  background-color: #a1a890;
}

#launchbox .launchbox-footer-unsigned .launchbox-signin {
  color: #fff
}

#launchbox .launchbox-footer-unsigned .launchbox-signin .launchbox-signin-link {
  color: #fff
}

span.launchbox-tooltip-top {
  color: white;
  background-color: #555;
}
