:root {
  /*-------------------------------------------------------------
   * theme
   *-----------------------------------------------------------*/
  --theme-backlog: #00836b;

  /*-------------------------------------------------------------
   * color
   *-----------------------------------------------------------*/
  --dark-color: #CCCCCC;       /* color: #222 */
  --dark-color-title: #DDDDDD; /* color: #111 */

  /*-------------------------------------------------------------
   * background-color
   *-----------------------------------------------------------*/
  --dark-background-color: #222222;          /* background-color: #fff */
  --dark-background-color-title: #444444;    /* background-color: #edf4f0 */
  --dark-background-color-header: #333333;   /* background-color: #f0f0f0 / #f6f6f6 */
  --dark-background-color-hover: #555555;    /* background-color: #e3eee8 / #fcfade */
  --dark-background-color-button: #333333;   /* background-color: #e5e5e5 */
  --dark-background-color-dropdown: #222222; /* background-color: #fff */

  /*-------------------------------------------------------------
   * border
   *-----------------------------------------------------------*/
  --dark-border-color: #333333;        /* border: #bdbdbd */
  --dark-border-color-icon: #555555;   /* border: #adadad */
  --dark-border-color-button: #444444; /* border: #e5e5e5 */

}

.Page--multipleIssue .highlight {
  background-color: #ffd300
}

.multiple-issues-header {
  background-color: var(--dark-background-color) !important;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, .18)
}

.multiple-issues-toolbar {
  background-color: var(--dark-background-color) !important
}

.multiple-issues-toolbar__edit-btn:hover .multiple-issues-toolbar__edit-btn-badge {
  color: #fff;
  background-color: #2c9a7a
}

.multiple-issues-toolbar__edit-btn.is_disabled .multiple-issues-toolbar__edit-btn-badge {
  color: #777 !important;
  background-color: var(--dark-background-color) !important
}

.multiple-issues-mask {
  background-color: var(--dark-background-color) !important
}

.multiple-issues-table-view {
  border-top: solid 1px #adadad
}

.multiple-issues-table-view__body {
  border-bottom: solid 1px #adadad
}

.multiple-issues-table-header {
  border-color: #bdbdbd;
}

.multiple-issues-table {
  border-color: #bdbdbd;
}

.multiple-issues-table .is_selected {
  background-color: #fcfade
}

.multiple-issues-table .is_selected:hover > td {
  background-color: #f9f5bf !important
}

.multiple-issues-divide {
  background-color: #adadad
}

.multiple-issues-divide:hover {
  background-color: gray
}

.multiple-issues-divide::after, .multiple-issues-divide::before {
  background-color: var(--dark-background-color) !important
}

.multiple-issues-thumbnail-view {
  background-color: var(--dark-background-color) !important
}

.multiple-issues-thumbnail-view__inner {
  border-top: solid 1px #adadad;
  border-right: solid 1px #adadad;
  border-bottom: solid 1px #adadad
}

.multiple-issues-thumbnail-view__inner.is_help-view, .multiple-issues-wizard__content.-update-list .multiple-issues-wizard__content-header {
  background-color: #f3f3f3
}

.multiple-issues-help .data-table--general td {
  background-color: var(--dark-background-color) !important
}

.multiple-issues-help .data-table--general th {
  background-color: #ededed
}

.multiple-issues-wizard__content-header {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .15)
}

.multiple-issues-wizard__content.-update-list {
  background-color: var(--dark-background-color) !important
}

.multiple-issues-wizard__content.-update-list .multiple-issues-wizard__content-inner {
  border-right: solid 1px #bdbdbd
}

.multiple-issues-wizard__content.-update-list .update-list-table .cell-summary .is_error {
  color: #ea2c00
}

.multiple-issues-wizard__content.-editor {
  background-color: #f3f3f3
}

.multiple-issues-wizard__content.-editor .multiple-issues-wizard__content-header {
  background-color: #e5e5e5
}

.icon-multiple-issues-checked::after {
  border-bottom: 3px solid #2c9a7a;
  border-left: 3px solid #2c9a7a
}
